<body>
<h1>SpongeBob SquarePants</h1>
<h2><font size="4" color="red">Developer Tasks</font></h2>
    <p> User can register to web site </p>
    <p> User can upload profile photo </p>
    <p> Administrator can enable/disable users </p>
    <p> User can change email address </p>
    <p> Application sends email change validation link </p>
    <p> Appliction sends email reminder to users who haven't logged in for awhile </p>
<h3><font size="4" color="red">Developer points</font></h3>
<p>Total 27 points per 3 sprints</p>
<p>Average 9 over 3 sprints</p>
</body>

<body>
<h1>Patrick Star</h1>
<h2><font size="4" color="red">Developer Tasks</font></h2>
    <p> User can login </p>
    <p> User can change password </p>
    <p> User can logout </p>
    <p> User must change password after initial login </p>
    <p> User can pay with paypal at shopping cart </p>
<h3><font size="4" color="red">Developer points</font></h3>
<p>Total 22 points per 3 sprints</p>
<p>Average 7 over 3 sprints</p>
</body>

<body>
<h1>Squidward Tentacles</h1>
<h2><font size="4" color="red">Developer Tasks</font></h2>
    <p> Application validates shopping cart items availability </p>
    <p> User can see recommended products/services </p>
    <p> User can enter credit card info </p>
<h3><font size="4" color="red">Developer points</font></h3>
<p>Total 15 points per 2 sprints</p>
<p>Average 8 over 2 sprints</p>
</body>

